$base-font-size: 12px;
$title-font-size: 1.3em;

$primary-color-dark:   #0288D1;
$primary-color:        #03A9F4;
$primary-color-light:  #B3E5FC;
$primary-color-text:   #FFFFFF;
$accent-color:         #03A9F4;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
