@import "icon.scss";
@import '../../node_modules/sass-material-colors/sass/sass-material-colors';

@import url('https://fonts.googleapis.com/css?family=Roboto:300');

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.calendar{
  width: 300px;
  border: 1px solid material-color('grey', '300');
  font-family: 'Roboto', sans-serif;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 6px;
    &--title {
      font-size: 18px;
    }
    &--button{
      outline: none;
      border: none;
      cursor: pointer;
      font-size: 20px; 
    }
  }

  &__body {
    &--table{
      width: 100%;
      table-layout:fixed;
      text-align: center;
    } 
  }

  &__day {
    height: 40px;
    cursor:pointer;
    &--today{
      background: material-color('yellow', '200');
    }
    &--selected{
      background: material-color('blue', '200');
    }
    &--start {
      background: material-color('blue', '300');
    }
    &--end {
      background: material-color('blue', '300');
    }
    &--range {
      background: material-color('blue', '100');
    }
    &--text{
      display: block;
      font-size: 12px; 
    }
  }
}
