@import "_icon.scss";
@import "_variable.scss";

@import url('https://fonts.googleapis.com/css?family=Roboto:300');

html {
    box-sizing: border-box;
}

.datepicker {
  display: inline-block;
  &__container {
    .calendar {
      position: absolute;
      z-index:100;
    }
  }

  &__backdrop {
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:80;
  }
}

.calendar{
  font-size: $base-font-size;
  *, *:before, *:after {
      box-sizing: border-box;
  }

  &__container {
    width: 270px;
    font-family: 'Roboto', sans-serif;
    display:none;
  }

  &__list {
    display:table;
  }

  &__item {
    display: table-cell;
    border: 1px solid $divider-color;
    &:not(:first-child) {
      border-left: none !important;
    }
  }

  &--show {
    display:inline-block;
  }

  &__head {
    position:relative;
    color: $primary-text-color;
    padding: 10px 6px;
    &--title {
      font-size: $title-font-size;
      color: $primary-text-color;
      text-align: center;
    }
    &--button{
      outline: none;
      border: none;
      cursor: pointer;
      background: none;
      font-size: 20px; 
      color: $primary-text-color;
    }
    &--prev, &--next {
      position: absolute;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
    }
    &--prev {
      left:0;
    }
    &--next {
      right:0;
    }
  }

  &__body {
    &--table{
      width: 100%;
      table-layout:fixed;
      text-align: center;
      border-spacing: none;
      border-collapse: collapse;
      th {
        height: 30px;
        vertical-align:top;
        color: $primary-text-color;
      }
    } 
  }

  &__day {
    vertical-align: top;
    padding-top:5px;
    height: 40px;
    &:hover {
      background: $primary-color-light;
      cursor: pointer;
    }
    cursor:pointer;
    &--0 { color:red; }
    &--6 { color:blue; }
    &--today{ background: $primary-color-light; }
    &--start, &--end, &--selected { 
      background: $primary-color; 
      color: $primary-color-text;
      &:hover {
        background: $primary-color;
      }
    }
    &--range { background: $primary-color-light; }
    &--text{
      display: block;
      font-size: 10px; 
    }
  }

  &__year, &__month {
    height: 55px;
    vertical-align: middle;
    &:hover {
      background: $primary-color-light; 
      cursor: pointer;
    }
  }
}
